---
---
@import 'bootstrap/bootstrap';
@import 'colors';
@import 'typography';

.matcha { color: #A5C476; }

// Heading formatting
h1 {
    text-transform: uppercase;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 25px;
  }

// Styling navigation
a {
    text-decoration: none;
    color: black; 
}

a:hover {
    color: #A5C476;
}

a.active {
    color: black;
}


 /* Style the fixed header */
 .header {
    grid-columns: 1 / 9;
    padding: 20px 20px;
    background: white;
    color: #A5C476;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 25px;
    text-align: center;

  }
  
  /* Page content */
  .content {
    grid-columns: 1 / 9;
    padding: 10px;
    width: 50%;
  }
  
  /* Positioning of matchapixel */
  .logo {
    padding-bottom: 3px;
    display: inline-block;
  }

  /* The sticky class is added to the header with JS when it reaches its scroll position */
  .sticky {
    position: fixed;
    top: 0;
    width: 100%
  }
  
  /* Add some top padding to the page content to prevent sudden quick movement (as the header gets a new position at the top of the page (position:fixed and top:0) */
  .sticky + .content {
    padding-top: 90px;
  } 

// Styling navigation
nav {
  font-size: 18px;
  text-transform: uppercase;
  color: black;
  display: inline-block;
}



// Changing height of breaks
br {
    content: "";
    margin: 2em;
    display: block;
    font-size: 10%;
  }

// Styling body text, format, and colors
body {
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
    // margin: 0;
    // display: grid;
    // grid-template-columns: 
    //   1fr [container-start]
    //   repeat(6, minmax(50px, 250px))
    //   [container-end] 1fr;
    // grid-gap: 2em 1em;
}

  
body {
    color: #2D2D2D;
    background: white;
    padding-bottom: 100px;
}

p {
  grid-columns: 3 / 6;
}


#page-container{
  padding-top: 0px;
  padding-right: 20px;
  padding-left: 20px;
  min-height: 100%;
}

// Styling footer


html{ height:100%; }
body{ min-height:100%; padding:0; margin:0; position:relative; }

body::after{ 
  content:''; 
  display: block; 
  height: 150px; }

footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100px;
    text-align: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 14px;
    background: rgba(165, 196, 118, 0.07);
    color: rgba(115, 149, 62, 0.7);
    padding-top: 1em;
    padding: 2em 1;
    
 
}

// Styling Contact Form
/* styling text for contact form */
input[type=text], select, textarea {
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  width: 255px;
  height: 100%;
  padding: 12px; /* Some padding */ 
  border: 1px solid #ccc; /* Gray border */
  border-radius: o; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

input[type=submit] {
  width: 255px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  text-transform: uppercase;
  color: black;
  padding: 12px 20px;
  border: 1px solid $clr-black;
  cursor: pointer;
}


.responsive {
  width: 100%;
  height: auto;
}

// Row for spacing
.row-m-t{
  margin-top : 30px
}

// Column for spacing

.row-m-t{
  margin-left : 350px
}